name: Build And Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 18
        uses: actions/setup-java@v4
        with:
          java-version: '18'
          distribution: 'correcto'

      - name: Grant execute permission to Gradlew
        run: chmod +x gradlew

      - name: Build Ktor fat JAR
        run: ./gradlew clean buildFatJar

      - name: Upload JAR to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "build/libs/*-all.jar"
          target: "/home/ubuntu/bank/"

      - name: Restart Ktor service on EC2
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo systemctl stop ktor.service || true
            sudo mv /home/ubuntu/app/*-all.jar /home/ubuntu/bamk/app.jar
            sudo systemctl start bank-backend
            sudo systemctl status bank-backend --no-pager